doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='/css/lib/bootstrap.min.css', rel='stylesheet')
    link(href='/css/font-awesome.min.css', rel='stylesheet')
    link(href='/css/lib/fonts.css', rel='stylesheet')
    link(href='/css/style.css', rel='stylesheet')
    block head
    title /f/lat | #{title}

  body

    // Begin header
    .container-fluid.text-center
      a(href='/').text-center
        img.headerimage(src="/images/flat.svg", alt="/f/lat logo")
      h1.text-center /f/lat
      h2.text-center html5 message board
    // End header

    block content

    // Begin footer
    footer.footer.text-center
      .container-fluid
        p
          | Made at MHacks V Spring 2015
        p
          | 2015 
          a(href="http://impatientbanana.com/")
            | Team Impatient Banana
        p
          a(href="https://github.com/TeamImpatientBanana/flat")
            | Fork this on GitHub
    // End footer

    // Begin Scripts
    script(src='/js/lib/jquery-2.1.1.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
    block scripts