extends layout

block content

  .container-fluid.text-center.homediv
    i.fa.fa-calendar.homepage-logo

    h1 CrowdCalendar
    h2 Every event, in one place

    button.btn.btn-primary.btn-lg(type='button') List an Event
