extends layout

block content

  // Begin post button
  .container-fluid.text-center(id="buttonContainer")
    p
      button.btn.btn-primary(type="button", id="button")
        | Post

  // Validation error message partial
  include partials/messages

  .container-fluid.text-center(id="form")
    p
      form(action="/upload", method="post", enctype="multipart/form-data")
        .form-group
          label.sr-only(for="subject")
          input.form-control(id="subject", name="subject", placeholder="Subject")
        .form-group
          label.sr-only(for="file")
          input.text-center.center-input(type="file", name="file", id="file", required)
        .form-group
          label.sr-only(for="comment")
          textarea.form-control(id="comment", name="comment", placeholder="Comment")
        .form-group
          .radio
            label.sr-only(for="game")
            input(type="radio", name="tag", value="game", checked)
            | Game
          .radio
            label.sr-only(for="video")
            input(type="radio", name="tag", value="video")
            | Video
          .radio
            label.sr-only(for="loop")
            input(type="radio", name="tag", value="loop")
            | Loop
        .form-group
          label.sr-only(for="name")
          input.form-control(id="name", name="name", placeholder="Name, optional")
        button.btn.btn-default(type="submit")
          | Submit
  // End post button

  // Begin board content
  .container-fluid.text-center
    table.table.table-striped.text-center
      thead
        tr
          th
            | No.
          th
            | Name
          th
            | File
          th
            | Tag
          th
            | Subject
          th
            | Size
          th
            | Date
          th
            | Replies
      tbody.text-center
        tr.text-center
          td
            | No.
          td
            | Name
          td
            | File
          td
            | Tag
          td
            | Subject
          td
            | Size
          td
            | Date
          td
            | Replies
  // End board content