/* Minimum body width to better support mobile view
-------------------------------------------------- */
body {
    min-width: 400px;
}
/*-------------------------------------------------- */


/* Font control
-------------------------------------------------- */
body {
    font-family: 'Exo 2', sans-serif;
}
/*-------------------------------------------------- */


/* Styles the textarea
-------------------------------------------------- */
textarea{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
}
/*-------------------------------------------------- */

/* Styles the textarea
-------------------------------------------------- */
.img-responsive, .center-input {
    margin: 0 auto;
}
/*-------------------------------------------------- */

/* Hide the form
-------------------------------------------------- */
#form {
    display: none;
}
/*-------------------------------------------------- */


/* Styles the form
-------------------------------------------------- */
#form {
    max-width: 400px;
}
/*-------------------------------------------------- */

/* OPReply styles
-------------------------------------------------- */
.OPReply {
    border: 1px solid #ccc;
    border-radius: 4px;
}
.OPReply b {
    color: aqua;
}
/*-------------------------------------------------- */

/* Reply styles
-------------------------------------------------- */
.reply {
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.reply b {
    color: maroon;
}
/*-------------------------------------------------- */

/* displaynone
-------------------------------------------------- */
.displaynone {
    display: none;
}
/*-------------------------------------------------- */

/* footer styles
-------------------------------------------------- */
.footer {
    margin-top: 10px;
}
/*-------------------------------------------------- */

/* alert style
-------------------------------------------------- */
.alert-danger {
    max-width: 400px;
    margin: 0 auto;
}
/*-------------------------------------------------- */